.container {
    position: relative;
    display: grid;
    grid-template-columns: 500px 500px;
    min-height: 70vh;
}
.col-sm-6 {
    padding-left: 35px;
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}