ul {
 list-style-type: none;
 margin: 2.5px;
 padding: 3px;
 overflow: hidden;

}
li {
    float: right;
}
a {
    display: block;
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
    color:rgb(30, 34, 33);
    font-weight: bolder;
    font-size: 24px;
}
li a:hover {
    background-color: #965888;
}
h4 {
    float: left;
} 
